{% extends "base.html" %}

{% block content %}
  <h2>Inventory Items</h2>

  {% if perms.inventory.add_inventoryitem %}
    <a href="{% url 'add_inventory_item' %}" class="btn btn-primary">Add Item</a>
  {% endif %}

  <ul>
    {% for item in inventory_items %}
      <li>
        {{ item.product_name }} ({{ item.serial_id }})
        {% if perms.inventory.change_inventoryitem %}
          <a href="{% url 'edit_inventory_item' item.id %}" class="btn btn-secondary">Edit</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
