{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Stage Concepts & Rigging</h1>

{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'password_change' %}">Change Password</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Log Out</button>
</form>
<p><a href="{% url 'inventory_list' %}" class="btn btn-primary mt-3">Go to Inventory</a></p>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}" class="btn btn-warning">Reset Password</a></p>
<p><a href="{% url 'login' %}" class="btn btn-success">Log In</a></p>
{% endif %}
{% endblock %}
